
html, body
{
	margin: 0;
	padding: 0;
}

body
{
	color: #ffffff;
	background-image: url('bg.png');
	font-family: sans-serif;
	height: 100%;
}

#login
{
	position: absolute;
	top: 35%;
	left: 50%;
	width: 300px;
	margin: -100px 0 0 -150px;
	padding: 15px;
}

#app
{
	position: absolute;
	top: 35%;
	left: 50%;
	width: 800px;
	margin: -100px 0 0 -400px;
	padding: 15px;
}

#logout
{
	color: #ffffff;
	background-color: #A53400;
	border: 1px solid #A53400;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 4px 20px;
	margin: 0 -4px 5px 0;
}

#qr
{
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -86px;
	padding: 5px;
	background-image: none;
	background-color: #ffffff;
}

#password
{
	width: 290px;
}

#url
{
	display: inline-block;
	width: 672px;
}

#hint
{
	display: inline-block;
	width: 100px;
}

#submit
{
	visibility: hidden;
	position: fixed;
	height: 0;
}

#footer
{
	position: absolute;
	text-align: center;
	font-size: 12px;
	bottom: 0;
	left: 50%;
	margin-left: -200px;
	padding-bottom: 2px;
	width: 400px;
}

a
{
	color: #FF5F15;
	text-decoration: none;
}

a:hover, a:active, a:focus
{
	text-decoration: underline;
}

.white
{
	color: #A53400;
	background-image: url('bg-w.png');
	box-shadow: 0 0 5px 1px #645F4E
}

label
{
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}

.in-text
{
	background: transparent;
	border: 2px solid #A53400;
	color: #A53400;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 0 3px 1%;
	height: 20px;
}

.round
{
	border-radius: 10px;
}

.round-small
{
	border-radius: 5px;
}

::-webkit-input-placeholder {color: #D9A883;}
:-moz-placeholder {color: #D9A883;}
::-moz-placeholder {color: #D9A883;}
:-ms-input-placeholder {color: #D9A883;}
